@import "tailwindcss";

@theme {
	--font-sans: "Jost";
	--font-serif: "Newsreader";
	--color-muted: #adb5bd;
	--color-ink: #343a40;
	--color-border: #dee2e6;
}

@layer base {
	html {
		@apply text-[#212529];
		@apply bg-[#fcfcfc];
	}
}
